In [4]:
import kmds
from kmds.tagging.tag_types import DataRepresentationTags
from owlready2 import *
from kmds.utils.load_utils import *
KNOWLEDGE_BASE = "sba_7a_2023_perf_kb.xml"
onto2 :Ontology = load_kb(KNOWLEDGE_BASE)
import pandas as pd
pd.options.display.max_colwidth = 350

In [5]:
from IPython.display import display
display(load_exp_observations(onto2))

,obs_type,finding,finding_seq
0,Relevance Observation,"Only (NaicsCode, BorrState, LoanStatus) are needed for this analysis. We don't care about other data elements for this report.",1
1,Relevance Observation,"The data is government published data, have to take the quality at face value :-)",2

In [6]:
display(load_data_rep_observations(onto2))

,obs_type,finding,finding_seq
0,Data Transformation Observation,"See the data dictionary in the repo data directory, the business type is captured by the Naics Code.To compute loan performance by business type, group by Naics Code, count the Loan Status in each group and then the percentagesfor each loan status within a group. Therefore, in each group the percentages must add to a 100 percent.",1
1,Data Transformation Observation,"The borrower state is captured by the BorrState attribute, see the data dictionary.To compute loan performance by BorrState,group by BorrState, count the Loan Status in each group and then the percentagesfor each loan status within a group. Therefore, in each group the percentages must add to a 100 percent.",2