## Specify the Knowledge Base to use

In [1]:
import kmds
from kmds.tagging.tag_types import DataRepresentationTags
from owlready2 import *
from kmds.utils.load_utils import *
from kmds.utils.path_utils import get_package_kb_path
KNOWLEDGE_BASE = "sba_7a_loan_chargeoff_modelling.xml"
onto2 :Ontology = load_kb(KNOWLEDGE_BASE)
import pandas as pd
pd.options.display.max_colwidth = 500

## Load the Exploratory Observations

In [2]:
load_exp_observations(onto2)

,obs_type,finding,finding_seq
0,Relevance Observation,"0.2 percent of the data is kept for model evaluation, the rest is used for model building.",6
1,Data Quality Observation,"Attributes ['BankFDICNumber', 'FranchiseCode', 'BusinessAge'] have missing values",2
2,Data Quality Observation,"Cardinality of the categorical attribute space is very large, 13187, so need to use some kind of dimensionality reduction. Cannot one hot encode this size",4
3,Data Quality Observation,"The class attribute is imbalanced, charge offs are less than five percent (0.048)",5
4,Data Quality Observation,Attributes with missing values are replaced with the string Not Applicable,3
5,Relevance Observation,"Only ['BorrName', 'BankFDICNumber', 'BankZip', 'BorrZip', 'NaicsCode', 'FranchiseCode', 'BusinessAge', 'LoanStatus', 'SBAGuaranteedApproval'] attributes from the raw data file are used in modeling",1

## Load the Data Representation Observations

In [3]:
load_data_rep_observations(onto2)

,obs_type,finding,finding_seq
0,Feature Engineering Observation,Feature Hashing is is used for dimensionality reduction. See the link in the data representation notebookfor information about setting up the input for feature hashing,1
1,Feature Engineering Observation,"The feature dimension used for this exercise is 1024, this is a hyper-parameter.",2

## Load the Modelling Choice Observations

In [4]:
load_modelling_choice_observations(onto2)

,obs_type,finding,finding_seq
0,Modelling Choice Observation,"Bagging uses 100 estimators, this is a hyper-parameter choice.",2
1,Modelling Choice Observation,"Boosting uses 200 estimators, this is a hyper-parameter choice.",3
2,Modelling Choice Observation,"The feature dimension is 1024, this is a hyper-parameter choice.",1

## Load the Model Selection Observations

In [5]:
load_model_selection_observations(onto2)

,obs_type,finding,finding_seq
0,Model Selection Observation,"Bagging has balanced accuracy: 0.72, sensitivity: 0.53",2
1,Model Selection Observation,Bagging and Boosting approaches to model development are evaluated.,1
2,Model Selection Observation,"Boosting has balanced accuracy: 0.53, sensitivity: 0.93",3